<div class="login-form">
  <div class="login-form-content">
    <div class="log-form-logo">
      <div class="logo"></div>
    </div>
    <div class="confirm-code-labels">
      <div>

        <strong class="login-form-label">Authentication</strong>
      </div>
      <div>
        <label class="enter-recive-code">Enter the received code.</label>

      </div>
    </div>

    <div class="login-form-inputs">
      <form [formGroup]="confirmFG">
        <mat-form-field appearance="outline">
          <input formControlName="code"  matInput placeholder=" -   -   -   -   - " />
        </mat-form-field>
        <button mat-raised-button (click)="sendCode()" [disabled]="!confirmFG.valid" color="primary">Login</button>
      </form>
    </div>
    <div class="code-options-labels">
      <div>
        <label class="enter-recive-code">Didn't Get The Code ?</label>
      </div>
      <div class="send-code">
        <strong class="enter-recive-code ">Send Code</strong>
      </div>
    </div>
  </div>
</div>
