

@media (max-width: 768px)
{
	button{
		width: 100% !important;
	}
}
.login-form{
    width: 100%;
    text-align: center;
}
.log-form-logo{
    width:100%;
}
.log-form-logo{
    display: flex;
    justify-content: center;
}
.logo{
    margin-bottom: 63px;
    width: 118px;
    height: 118px;
    left: 1137px;
    top: 97.5px;
    margin-top: 10px;
    border-radius: 50%;
    background: #f7f5f5;
}
.login-form-label{
width: 45px;
height: 21px;
left: 1176px;
top: 279px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
margin-bottom: 28px;
/* identical to box height */
color: #000000;
}
.login-form-label label{

    text-align: center;
}
.login-form-inputs mat-form-field{
    /* margin-bottom: 17px; */
    margin-top: 16px;
    color: rgba(0, 0, 0, 0.49);
}
.login-form-inputs input{
    /* margin-bottom: 17px; */
    text-align: center;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.49);
}
.login-form-inputs button{
    width: 100%;
    height: 40px !important;
    /* margin-top: 18px; */
}

.enter-recive-code{
    width: fit-content;
    color: rgba(0, 0, 0, 0.49);
    margin-top: 8px;
}
.code-options-labels{
    margin-top: 27px;
}
.send-code{
    margin-top: 8px;
}
