<div class="form-content">
  <form class="form" id="financeSettingAddFormGroup" [formGroup]="changePasswordFG">
    <mat-form-field appearance="outline">
      <mat-label>{{ "USER_MANAGER.PASSWORD" | translate }}</mat-label>
      <input
        matInput
        formControlName="password"
        [placeholder]="'USER_MANAGER.PASSWORD' | translate"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ "USER_MANAGER.CONFIRM_PASSWORD" | translate }}</mat-label>
      <input
        matInput
        formControlName="confirmPassword"
        [placeholder]="'USER_MANAGER.CONFIRM_PASSWORD' | translate"
      />
    </mat-form-field>
  </form>
</div>
<div class="form-footer">
  <button
    mat-raised-button
    form="financeSettingAddFormGroup"
    type="submit"
    color="primary"
    (click)="changePassword()"
  >
    {{ "GENERAL.SAVE" | translate }}
  </button>

  <button mat-stroked-button>{{ "GENERAL.RESET" | translate }}</button>
</div>
